@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

button {
    background-color: black;
    color: #71F25C;
    padding: 8px 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    border-radius: 20px;
    font-size: 24px;
}

button:hover{
    opacity:1;
}
  
/* Center the image and position the close button */
#image-container{
    text-align: center;
    margin: 12px 0 0 0;
    position: relative;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover{
  color: red;
  cursor: pointer;
}
  
#login-avatar{
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 0 12px 12px 12px;
}

.passwd{
    float: right;
}


/* ======== form dynamics ======= */
/* REF: */

/* The form (background) */
#modal-login {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Form box that's brought to the foreground */  
#login-form{
    background-color: #fefefe;
    margin: 2% auto 20% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid black;
    border-radius: 20px;
    width: 40%; /* Could be more or less, depending on screen size */
}


/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
  
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.passwd {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
    
